html {
    font-size: 62.5%;
}

body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans',
    'ヒラギノ角ゴシック','Yu Gothic','メイリオ','ＭＳ Ｐゴシック','MS PGothic';
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 10rem;
    color: rgb(172, 127, 32);
}

.boxes {
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
}

.boxes > p {
    margin-right: 3rem;
}

h2 {
    font-size: 6rem; 
}

h3 {
    font-size: 4rem;
}

dd {
    font-size: 2rem;
}